# Frontend
VITE_API_URL=http://localhost:8787

# Backend
PORT=8787
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgres://YOUR_PRISMA_DATABASE_PASSWORD@db.prisma.io:5432/postgres?sslmode=require
RAZORPAY_KEY_ID=rzp_test_xxx
RAZORPAY_KEY_SECRET=your_razorpay_secret
RAZORPAY_WEBHOOK_SECRET=whsec_xxx
RAZORPAY_PLAN_ID=plan_xxx
